body {
  background: url(https://media.discordapp.net/attachments/884718653348667412/885540768163442688/totalement_2.png?width=509&height=427);
  background-position: center center;
  background-size: cover;
}
h1
{
  color: pink;
  text-align: center;
  font-family: Simplified;
}
p
{
  color: white;
  text-align: center;
  font-family: Simplified;
}
a
{
  text-align: center;
  font-family: Simplified;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.imageee {
background-size: cover;
width: 300px;
height: 200px;
}
